* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border: transparent;
}


.btn, .btn:link, .btn:visited{
  background-color: #9236f4;
  color: white;
  display: inline-block;
}

.btn2, .btn2:link, .btn2:visited{
  background-color: #5c36f4;
  color: white;
  display: inline-block;
  margin: 0 10px;
}

.btn:hover, .btn:active {
  background-color: purple;
}

.btn2:hover, .btn2:active {
  background-color: rgb(23, 0, 128);
}